<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Dear <%= @user.name %></p>
                    <p>You are registered from application Porpose Place. Please Log In using this E-mail <b><%= @user.email %></b> and password <b><%= @user.password %></b> or click this link.</p>
                    <a href="<%= @base_url+"/reset_password/"+@user.id.to_s %>" class="btn btn-primary">Reset Password</a>
                    <br>
                    <br>
                    <p>Thanks and Regards</p>
                    <br><br>
                    <p>Generate Mail</p>
                </div>
            </div>
        </div>
    </body>
</html>