            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Bootstrap 4</h3>
                    <button class='btn btn-primary' id="close-navbar">X</button>
                </div>

                <ul class="list-unstyled components">
                    <p><%= session[:user_name] %></p>
                    <li>
                        <%= link_to 'Propose Place', "/vote/list" %>
                    </li>
                    <li>
                        <%= link_to 'Suggest Place', "/suggest/list/1" %>
                    </li>
                    <%  if session[:user_role] == "Manager" %>
                    <li>
                        <%= link_to 'Management User', "/user/list/1" %>
                    </li>
                    <% end %>
                    <li>
                        <%= link_to 'Setting', "/user/setting/"+session[:user_id].to_s %>
                    </li>
                    <li>
                        <%= link_to 'Logout', "/logout" %>
                    </li>
                </ul>
            </nav>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse,#close-navbar').on('click', function () {
                        $('#sidebar, #content').toggleClass('active');
                    });
                    <% if @curr_page.present? %>
                    $('#pagination').on('change',function(){
                        window.location.href="<%= request.base_url+"/"+@curr_page+"/list/" %>"+$(this).val()
                    })
                    <% end %>
                });
            </script>