        <div class='wrapper'>
            <%= render "header" %>
            <div id="content">
                <%= render "toogle_button" %>
                <div class="row">
                    <div class="col-12">
                        <h1><%= @title %></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>