            <div class="form-group">
                <%= label_tag "Name" %>
                <%= text_field_tag :name,(@user.present? ? @user.name : ""), class: "form-control", required: "true", placeholder:"Enter Name" %>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <%= label_tag "E-Mail" %>
                <%= text_field_tag :email, (@user.present? ? @user.email : ""), class: "form-control", required: "true", placeholder:"Enter E-Mail" %>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <%= label_tag "Password" %>
                <%= text_field_tag :password,(@user.present? ? @user.password : ""),class:"form-control",required:"true",placeholder:"Enter Password",type:"password" %>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%= text_field_tag :submit,"Submit",class:"btn btn-danger float-right",type:"submit" %>
                </div>
            </div>