<div class='wrapper'>
    <%= render "welcome/header" %>
    <div id="content">
        <%= render "welcome/toogle_button" %>
        <div class="row">
            <div class="col-12">
                <h1><%= @title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to 'Home', "/welcome" %></li>
                    <li class="breadcrumb-item active" aria-current="page">User</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <%= link_to 'Add User', "/user/new", class: "btn btn-primary" %>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @list.each_with_index  do |value,key|%>
                    <tr>
                        <td><%= ((key+1)+(@page*@limit).to_f).ceil %></td>
                        <td><%= value.name %></td>
                        <td><%= value.email %></td>
                        <td><%= value.role %></td>
                        <td>
                            <div class="btn-group">
                                <a href="/user/edit/<%= value.id %>"><button type="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-warning"><i class="fa fa-edit"></i></button></a>
                                <a href="/user/reset/<%= value.id %>"><button type="button" data-toggle="tooltip" data-placement="top" title="Reset Password" class="btn btn-info"><i class="fa fa-check"></i></button></a>
                                <a href="/user/delete/<%= value.id %>"><button type="button" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 offset-md-9">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Page(s)</span>
                    </div>
                    <%= select_tag "pagination", options_for_select(@list_page, (@page+1).ceil),class: "form-control" %>
                </div>
            </div>
        </div>
    </div>
</div>