<div class='container'>
   <div class="row login">
      <div class="col-md-6 offset-md-3">
         <%= form_with(url:'/user/setprofile',method:'post',class:'was-validated') do %>
            <%= text_field_tag :id,@id, class: "form-control", type: "hidden" %>
            <div class="card">
               <div class="card-header bg-info text-white">Reset Profile</div>
               <div class="card-body">
                  <%= render "form" %>
               </div>
            </div>
         <% end %>
      </div>
   </div>
</div>