<div class='wrapper'>
    <%= render "welcome/header" %>
    <div id="content">
        <%= render "welcome/toogle_button" %>
        <div class="row">
            <div class="col-12">
                <h1><%= @title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to 'Home', "/welcome" %></li>
                    <li class="breadcrumb-item active" aria-current="page">User</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <% if session[:user_role] == "Manager" %>
                <%= link_to 'Porpose Place', "/random/place", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Recommend By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @list.each_with_index  do |value,key|%>
                        <% if @selected[0].suggest_places_id==value.id %>
                        <tr class="table-success">
                        <% else %>
                        <tr>
                        <% end %>
                            <td><%= (key+1) %></td>
                            <td><%= value.id %></td>
                            <td><%= value.name %></td>
                            <td><%= value.address %></td>
                            <td><%= value.user_name %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>