<div class='container'>
   <div class="row login">
      <div class="col-md-6 offset-md-3">
         <%= form_with(url:'/login/validate',method:'post',class:'was-validated') do %>
            <div class="card">
                  <div class="card-header bg-info text-white">Sign In</div>
                  <div class="card-body">
                     <div class="form-group input-group">
                        <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <%= text_field_tag :email,"", class: "form-control", required: "true", placeholder:"Enter E-Mail" %>
                        <div class="invalid-feedback">Please fill out this field.</div>
                     </div>
                     <div class="form-group input-group">
                        <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <%= text_field_tag :password,"",class:"form-control",required:"true",placeholder:"Enter Password",type:"password" %>
                        <div class="invalid-feedback">Please fill out this field.</div>
                     </div>
                  </div>
                  <div class="card-footer bg-info text-white">
                     <div class="row">
                        <div class="col-12">
                           <%= text_field_tag :submit,"Sign In",class:"btn btn-danger float-right",type:"submit" %>
                        </div>
                     </div>
                  </div>
            </div>
         <% end %>
      </div>
   </div>
</div>