            <div class="form-group">
                <%= label_tag "Name" %>
                <%= text_field_tag :name,(@suggestplace.present? ? @suggestplace.name : ""), class: "form-control", required: "true", placeholder:"Enter Name" %>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <%= label_tag "Address" %>
                <%= text_field_tag :address, (@suggestplace.present? ? @suggestplace.address : ""), class: "form-control", required: "true", placeholder:"Enter Address" %>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%= text_field_tag :submit,"Submit",class:"btn btn-danger float-right",type:"submit" %>
                </div>
            </div>