<div class='wrapper'>
    <%= render "welcome/header" %>
    <div id="content">
        <%= render "welcome/toogle_button" %>
        <div class="row">
            <div class="col-12">
                <h1><%= @title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to 'Home', "/welcome" %></li>
                    <li class="breadcrumb-item"><%= link_to 'Suggest Place', "/suggest/list/1" %></li>
                    <li class="breadcrumb-item active" aria-current="page">Form</li>
                    </ol>
                </nav>
            </div>
        </div>
        
        <%= form_with(url:'/suggest/update',method:'post',class:'was-validated') do %>
            <%= text_field_tag :id,@id, class: "form-control", type: "hidden" %>
            <%= render "form" %>
        <% end %>
    </div>
</div>